<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %> 
    <%- include('./partials/header.ejs') %> 
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= actor.first_name %> </h1>
    <br>
    <p>NAME: <%= actor.first_name %> </p>
    <p>RATING: <%= actor.rating %> </p>

</body>
</html>