<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %> 
    <%- include('./partials/header.ejs') %> 
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= genres.name %> </h1>
    <br>
    <p>NAME: <%= genres.name %> </p>
    <p>RANKIG: <%= genres.ranking %> </p>
    <br/> 
    <button class="btn btn-primary"><a  class="link-light" href="/genres/edit/<%= genres.id%>">Editar Genero</a></button>
    <button class="btn btn-danger"><a  class="link-light" href="/genres/delete/<%= genres.id%>">Eliminar Genero</a></button>
</body>
</html>