<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %> 
    <%- include('./partials/header.ejs') %> 
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= genres.name %> </h1>
    <br>
    <p>NAME: <%= genres.name %> </p>
    <p>RANKIG: <%= genres.ranking %> </p>

</body>
</html>