<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %> 
    <%- include('./partials/header.ejs') %> 
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Genero</h1>
    <br>
    <section class="formulario">
        <form action="/genres/create" method="POST">
            <div class="form-group">
                <label for="name">Titulo</label>
            <input class="form-control" type="text" name="name" value="<%= locals.old && old.name ? old.name : null %>" id="name">
            <small class="text-danger"><%= locals.errors && errors.name ? errors.name.msg :null %></small>
        </div>
        <br>
            <div class="form-group">
            <label for="ranking">Raiting </label>
            <input class="form-control" type="number" name="ranking" id="ranking" value="<%= locals.old && old.ranking ? old.ranking : null %>">
            <small class="text-danger"><%= locals.errors && errors.ranking ? errors.ranking.msg :null %></small>
            </div>
            <br>
            <br>
            <p> <button  class="btn btn-primary" type="submit">Agregar</button>
            
                <button  class="btn btn-primary" type="submit"><a  class="link-light" href="/genres">Listado de Generos</a></button>
        </form>
    </section>
</body>

</html>