<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
    <%- include('./partials/header.ejs') %> 
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <br>
    
    <button class="btn btn-primary"><a  class="link-light" href="/movies/edit/<%= movie.id%>">Editar Pelicula</a></button>
    <button class="btn btn-danger"><a  class="link-light" href="/movies/delete/<%= movie.id%>">Eliminar Pelicula</a></button>

</body>
</html>