<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %> 
    <%- include('./partials/header.ejs') %> 
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>AGREGAR PELICULA</h1> <br> <button class="btn btn-primary"><a  class="link-light" href="/movies/add">Agregar Película</a></button> <br> <br> 
    <h1>LISTADO DE PELÍCULAS</h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>">
                <% if (movies[i].genres) { %>
                    <%= movies[i].title %> - <%= movies[i].genres.name  %>
               
                    <% } else { %>
                        <%= movies[i].title %>
                    <% } %>
               </a>
        </li>
        <% } %>

    </ul>
</body>

</html>